/* style.css */

body {
    height: auto;
    background-image: url("images/Timi.jpg");
    background-repeat: repeat-x;
    background-size: contain;
}

.bigger {
    height: auto;
    width: 80px;
}

img {
    height: auto;
    width: 200px;
}

p {
    color: red;
}

h1 {
    color: red;
}